footer {
    background: #111;
    padding: 20px 23px;
    color: white;
}

footer span a {
    color: var(--main--color);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}