.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: space-between;*/
}

.Jesus{
    background-color: rgb(195, 195, 195);
}

.about .about-content p{
    font-weight: 500;
    text-align: justify;
    margin: 10px 30px;
    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 30px;
}

.churchHistory{
    background-position: center;
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;
    height: auto;
}


/*About Jesus*/


.Image img{
    width: 100%;
    height: auto;
}
.quote{
    height: auto;
    text-align: center;
    /* background-image: url(../images/bg.jpg); */
    background-color: var(--main--color);
    padding: 10px 0px;
}

.jesus-content{
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 10px;
}
.jesus-content h3{
    margin-top: 0px;
    text-align: center;
}
.max-width2{
    background-color: aqua;
    width: 100%;
}

@media(max-width:991px) {
    .jesus-content{
        font-size: 15px;
    }
}